
.product_counter {
    margin-bottom: 50px;
    display: flexbox;
    border: 2px ;
    background: #cad65b ;
    height: 400px;
    width: 250px;
}
.product_dress {
    height: 150px;
    width: 130px;
}
